<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<title>
    {{page.title}} | {{site.title}}
</title>
<style>
    h1{margin-top: 1em;}
    h2{margin-top: 1em;}
    h3{margin-top: 0.8em;}
    p{font-size: 18px;}
    p.tem{font-size: 14px;}
    ul{margin-top: 2px; margin-bottom: 2px; font-size: 18px;}
    ol{margin-top: 2px; margin-bottom: 2px; font-size: 18px;}
</style>

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
